.weatherCard {
  padding: 10px;
  border-radius: 10px;
}
.weekly-forecast {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.weekly-box {
  width: 300px;
  background: rgba(0, 0, 0, 0.75);
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 10px;
}
.weekly_box_details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.weatherCard_h2{
  text-align: center;
}
@media only screen and (max-width: 730px) {
  
  .weekly_box_details {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  
}
@media only screen and (min-width: 1210px) {
 
  .weekly_box_details {
    align-items: center;
    justify-content: center;
  }
  .weekly-forecast {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 600px) {
  .weekly-forecast {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
  }
}
